* {
	margin: 0;
	padding: 0;
}

.gridContainer {
  display: grid;
  grid-template-areas: 
    "about store gmail . images apps signIn"
    ". . logo logo logo . ."
    " . searchBar searchBar searchBar searchBar searchBar ."
    ". googleSearchButton googleSearchButton . imFeelingLucky imFeelingLucky ."
    "advertising business howSearchWorks . privacy terms settings";
  grid-gap: 1fr;

}

.about {
  grid-area: about;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.store {
  grid-area: store;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.gmail {
  grid-area: gmail;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.images {
  grid-area: images;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.apps {
  grid-area: apps;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.signIn {
  grid-area: signIn;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.logo {
  grid-area: logo;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.searchBar {
  grid-area: searchBar;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.googleSearchButton {
  grid-area: googleSearchButton;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.imFeelingLucky {
  grid-area: imFeelingLucky;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.advertising {
  grid-area: advertising;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.business {
  grid-area: business;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.howSearchWorks {
  grid-area: howSearchWorks;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.privacy {
  grid-area: privacy;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.terms {
  grid-area: terms;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}
.settings {
  grid-area: settings;
  color: black;
  opacity: 0.75;
  padding: 10px;
  font-size: 13px;
}